In [1]:
# 1. 1부터 1000까지의 자연수 중 3의 배수의 합 구하기
# 166833

result = 0

for i in range(1, 1001):
    if i % 3 == 0:
        result += i

print(result)

166833

In [3]:
result = 0

for i in range(3, 1001, 3):
    result += i

print(result)

166833

In [5]:
# 2. 계단식으로 별 출력하기
# *
# **
# ***
# ****
# *****
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [7]:
for row in range(5):
    for col in range(5):
        if col <= row:
            print("*", end = "")
    print()

*
**
***
****
*****

In [9]:
# 3. 대각선으로 별 출력하기
# *
#  *
#   *
#    *
#     *
for row in range(5):
    for col in range(5):
        if row == col:
            print("*", end = "")
        else:
            print(" ", end = "")
    print()

*
 *
  *
   *
    *

In [11]:
for i in range(5):
    print(" " * i + "*")
    # print(" " * i, end = "")
    # print("*")

*
 *
  *
   *
    *

In [13]:
# 4. 산 그리기
# *
# ***
# *****
# ***
# *
for i in range(1, 6): # 1 2 3 4 5
    if i <= 3:
        for _ in range(1, 2 * i): # 1 123 12345
            print("*", end = "")

    else:
        for _ in range(1, 12 - (i * 2)): # 123 1
            print("*", end = "")
        
    print()

*
***
*****
***
*

In [15]:
# 5. 화폐매수 구하기
a = 156780 # 원
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]
# 50000 - 3
# 10000 - 0
# 5000 - 1
# 1000 - 1
# 500 - 1
# 100 - 2
# 50 - 1
# 10 - 3

for i in b:
    n = a // i # 156780 // 50000 => n = 3
    a -= n * i # a = 6780
    print(f"{i} - {n}")

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [17]:
# 6. 두 리스트를 조합해 하나의 딕셔너리를 만들기
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = dict()

### 코드 작성 란 ###
for i in range(len(key_list)):
    character[key_list[i]] = value_list[i]

###################

# 아래의 코드를 실행했을 때
# {"name" : "기사", "hp" : 200, "mp" : 30, "level" : 5} 가 출력되어야 함
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [19]:
# 7. 반복문을 이용하여 name 과 data를 각각 리스트에 담기
# 예) ["y1", "y2"]
# ["123", "234"]
q7 = [{"name":"y1","data":"123"}, {"name":"y2","data":"234"}]

name = []
data = []

for i in q7:
    name.append(i["name"])
    data.append(i["data"])

print(name)
print(data)

['y1', 'y2']
['123', '234']

In [21]:
# 8. 반복문을 이용하여 id, name, age를 각각 리스트에 담기
q8 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for i in q8:
    id_list.append(q8[i]["id"])
    name.append(q8[i]["name"])
    age.append(q8[i]["age"])

print(id_list)
print(name)
print(age)

['a386', 'a383']
['123', '123']
[34, 36]

In [23]:
# 9. id, name, age를 각각 리스트에 담기
q9 = {"ret":[{"id":"a2001","name":"123","age":34},{"id":"a2002","name":"123","age":54},{"id":"a2003","name":"123","age":36},{"id":"a2004","name":"123","age":38}],"ret1":[{"id":"a2005","name":"123","age":17},{"id":"a2006","name":"123","age":52},{"id":"a2007","name":"123","age":33}]}

id_list = []
name = []
age = []

# print(q9["ret"][0]["id"])
# print(q9["ret"][1]["id"])
# print(q9["ret1"][0]["id"])
# print(q9["ret1"][1]["id"])

for key in q9:
    for dic in q9[key]:
        id_list.append(dic["id"])
        name.append(dic["name"])
        age.append(dic["age"])

print(id_list)
print(name)
print(age)

['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]

In [25]:
# 10. id, name, age를 각각 리스트에 담기
q10 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},{"id":"id2","name":"가나다2","age":32},{"id":"id3","name":"가나다3","age":33},{"id":"id4","name":"가나다4","age":34},{"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []

for i in q10["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])

print(id_list)
print(name)
print(age)

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]