# **파이썬 함수의 구조**

```
def 함수명(매개변수):
    <수행할 문장>
```

In [2]:
# welcome 함수 정의
def welcome():
    print("Hello!")
    print("Nice to meet you")

In [4]:
# welcome 함수 호출
welcome()

Hello!
Nice to meet you

In [6]:
# add 함수 정의
def add(a, b):
    return a + b

In [8]:
num1 = 3
num2 = 4
c = add(num1, num2)
print(c)

7

## 함수 사용의 장점

- 코드의 용도를 구분
- 코드 재사용이 용이
- 실수를 방지(오타 등)

# **매개변수와 인수**

- 매개변수 : 함수에 입력으로 전달된 값을 받는 변수
- 인수 : 함수를 호출할 때 전달하는 입력값
- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에는 구분이 모호해지므로 구분하지 않는 경우도 많음
- 함수의 사용법
    - 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2,......)

In [12]:
def print_n_times(value, n):
    for _ in range(n):
        print(value)

In [14]:
print_n_times("안녕하세요", 3)

안녕하세요
안녕하세요
안녕하세요

In [16]:
# 매개변수를 2개를 지정하고 인수를 하나만 넣는다면 에러 발생
print_n_times("안녕하세요")

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [154]:
# 지정한 매개변수보다 인수를 많이 넣으면 에러 발생
print_n_times("안녕하세요", 10, 20)

TypeError: print_n_times() takes from 1 to 2 positional arguments but 3 were given

In [156]:
# 입력값이 없고 결괏값이 있는 함수
def say():
    return "Hi"

In [158]:
a = say()

print(a)

Hi

In [23]:
# 입력값이 있고 결괏값이 없는 함수
def add(a, b):
    print(f"{a}, {b}의 합은 {a + b}입니다")

In [25]:
add(3, 4)

3, 4의 합은 7입니다

In [27]:
# 결괏값 확인
a = add(3, 4)

print(a)

3, 4의 합은 7입니다
None

## 매개변수 지정하여 호출하기

In [30]:
add(a = 3, b = 7)

3, 7의 합은 10입니다

In [32]:
add(b = 5, a = 3)

3, 5의 합은 8입니다

# **함수의 결괏값**

In [35]:
def add_and_mul(a, b):
    return a + b, a * b

In [37]:
result = add_and_mul(3, 4)

# 함수의 결괏값은 2개가 아니라 하나의 튜플로 반환되었음
print(result)

(7, 12)

In [39]:
# 2개의 결괏값처럼 받고 싶다면
result1, result2 = add_and_mul(3, 4)

print(result1)
print(result2)

7
12

In [41]:
def add_and_mul(a, b):
    return a + b
    return a * b

In [43]:
# 함수는 return을 만나는 순간 함수 실행이 종료됨
result = add_and_mul(2, 3)

print(result)

5

### - return

- 함수를 종료시키고 싶을 때 사용할 수도 있음

In [46]:
def say_nick(nick):
    if nick == "바보":
        return

    print(f"나의 별명은 {nick} 입니다")

In [48]:
say_nick("야호")

나의 별명은 야호 입니다

In [50]:
say_nick("바보")

In [52]:
result = say_nick("바보")

print(result)

None

# **디폴트 매개변수**

- 디폴트 : 매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는 값

In [55]:
def say_myself(name, old, man = True):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {old}살입니다")

    if man:
        print("남자입니다")

    else:
        print("여자입니다")

In [57]:
say_myself("파이썬", 27)

나의 이름은 파이썬 입니다
나이는 27살입니다
남자입니다

In [59]:
say_myself("파이썬", 27, True)

나의 이름은 파이썬 입니다
나이는 27살입니다
남자입니다

In [61]:
say_myself("파이썬", 27, False)

나의 이름은 파이썬 입니다
나이는 27살입니다
여자입니다

In [63]:
say_myself("파이썬", 27, "girl")

나의 이름은 파이썬 입니다
나이는 27살입니다
남자입니다

In [65]:
def print_n_times(value, n = 2):
    for _ in range(n):
        print(value)

In [67]:
print_n_times("안녕하세요")

안녕하세요
안녕하세요

## 디폴트 매개변수의 위치

In [70]:
# 파이썬은 인수를 어디에 대입해야할지 알 수 없음
def say_myself(name, man = True, old):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {old}살입니다")

    if man:
        print("남자입니다")

    else:
        print("여자입니다")

SyntaxError: parameter without a default follows parameter with a default (3570404004.py, line 2)

# **지역변수와 전역변수**

- 지역변수
    - 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있는 변수가 됨
    - 함수 외부에서는 지역변수에 접근할 수 없음
- 전역변수
    - 함수 외부에서 선언한 변수는 함수 내부에서도 사용 가능

In [73]:
def vartest():
    var = 10
    print(var)

In [75]:
vartest()

10

In [77]:
print(var)

NameError: name 'var' is not defined

In [79]:
var2 = 10

In [81]:
def var2test():
    print(var2)

In [83]:
var2test()

10

In [85]:
print(var2)

10

### - 전역변수를 함수 내부에서 사용하는 2가지 경우

- 단순 참조
- 전역 변수의 값을 변경

In [88]:
a = 0

In [90]:
def f():
    a = 10
    print(a)

In [92]:
f()

10

In [94]:
print(a)

0

In [96]:
def f():
    global a # 전역변수 a를 사용하겠다
    a = 10
    print(a)

In [98]:
f()

10

In [100]:
print(a)

10

### - mutable과 immutable

In [103]:
def modify(lst, text):
    lst[0] = 99
    text = text.replace("a", "b")
    return lst, text

In [105]:
my_list = [1, 2, 3]
my_string = "apple"

In [107]:
modify(my_list, my_string)

print(my_list, my_string)

[99, 2, 3] apple

In [109]:
modified_list, modified_string = modify(my_list, my_string)

print(modified_list, modified_string)

[99, 2, 3] bpple

# **가변 매개변수(여러 개의 입력값을 받는 함수)**

- 함수로 전달해야하는 인수의 개수가 정해지지 않은 매개변수
- 함수 정의시 매개변수 앞에 * 을 붙이면 가변 매개변수가 됨
- 전달되는 인수는 하나의 튜플 형태로 전달
- 가변 매개변수의 제약
    - 가변 매개변수 뒤에는 일반 매개변수가 올 수 없음
    - 가변 매개변수는 하나만 사용할 수 있음

In [112]:
def show(*args):
    print(args)

In [114]:
show("python")

('python',)

In [116]:
type(("python",))

tuple

In [118]:
type(("python"))

str

In [120]:
show("happy", "birthday")

('happy', 'birthday')

In [122]:
def add_many(*args):
    result = 0

    for i in args:
        result += i

    return result

In [124]:
result = add_many(1, 2, 3)
print(result)

6

In [126]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

# **키워드 매개변수**

In [129]:
def print_kwargs(**kwargs):
    print(kwargs)

In [131]:
print_kwargs(a = 1)

{'a': 1}

In [133]:
print_kwargs(name = "foo", age = 3)

{'name': 'foo', 'age': 3}

# **함수 매개변수 순서**

1. 일반 매개변수
2. 디폴트 매개변수
3. 가변 매개변수
4. 키워드 매개변수

# **연습문제**

In [137]:
# 1. 주어진 자연수가 홀수인지 짝수인지 판별해주는 함수(함수명 : is_odd)를 작성하기
def is_odd(num):
    if num % 2 == 1:
        return True

    else:
        return False

    # return num % 2 == 1

In [139]:
is_odd(3)

True

In [141]:
is_odd(4)

False

#### 2. 커피자판기 코드 만들기

- 커피자판기에 돈과 주문할 커피를 전달
- 주문할 수 있는 커피의 종류와 가격은 다음과 같음
    - 아메리카노 : 1000원
    - 카페라떼 : 1500원
    - 카푸치노 : 2000원
- 없는 커피를 주문할 경우 입력한 돈을 그대로 반환
- 구매 금액이 부족하면 입력한 돈을 그대로 반환
- 정상 주문이면 주문한 커피와 잔돈을 반환

In [144]:
def coffee_machine(money, pick):
    print(f"{money}원에 {pick}를 선택하셨습니다")
    
    menu = {"아메리카노" : 1000,
            "카페라떼" : 1500,
            "카푸치노" : 2000}

    if pick not in menu:
        print(f"{pick}는 없는 메뉴입니다")
        return money

    elif menu[pick] > money:
        print(f"{pick}는 {menu[pick]}원 입니다")
        print(f"돈이 {menu[pick] - money} 원 부족합니다")
        return money

    else:
        print(f"{pick}는 {menu[pick]}원 입니다")
        print(f"잔돈은 {money - menu[pick]}원 입니다")
        return pick, money - menu[pick]

In [146]:
coffee_machine(pick = "마키아또", money = 15000)

15000원에 마키아또를 선택하셨습니다
마키아또는 없는 메뉴입니다

15000

In [148]:
coffee_machine(pick = "아메리카노", money = 500)

500원에 아메리카노를 선택하셨습니다
아메리카노는 1000원 입니다
돈이 500 원 부족합니다

500

In [150]:
coffee_machine(pick = "카페라떼", money = 2000)

2000원에 카페라떼를 선택하셨습니다
카페라떼는 1500원 입니다
잔돈은 500원 입니다

('카페라떼', 500)