In [1]:
import pandas as pd
import numpy as np

In [2]:
usage = pd.read_csv("./data/working/tpss_bcycl_od_statnhm_202406_통합_w_자치구.csv")

In [3]:
usage.head()

,기준_날짜,집계_기준,기준_시간대,시작_대여소_ID,시작_대여소명,시작_대여소_자치구,종료_대여소_ID,종료_대여소명,종료_대여소_자치구,전체_건수,전체_이용_분,전체_이용_거리
0,20240601,출발시간,0,ST-1002,목1동_004_1,양천구,ST-1017,목5동_059_1,양천구,1,8.0,870.0
1,20240601,출발시간,0,ST-1015,목5동_001_1,양천구,ST-997,목4동_021_1,양천구,1,10.0,1552.0
2,20240601,출발시간,0,ST-1036,역촌동_001_1,은평구,ST-1035,불광2동_021_1,은평구,1,42.0,4980.0
3,20240601,출발시간,0,ST-1045,성내2동_007_1,강동구,ST-1580,오륜동_001_3,송파구,1,8.0,1923.0
4,20240601,출발시간,0,ST-1047,성내1동_023_1,강동구,ST-488,암사1동_044_1,강동구,1,18.0,3530.0

In [7]:
usage = usage.drop(columns=["전체_이용_분", "전체_이용_거리"], errors="ignore")

In [8]:
usage = usage.dropna(subset=["시작_대여소_자치구", "종료_대여소_자치구"])

In [10]:
usage.shape

(8799690, 10)

In [13]:
junggu_usage = usage[
    (usage["시작_대여소_자치구"] == "중구") | (usage["종료_대여소_자치구"] == "중구")
]

In [14]:
junggu_usage.head()

,기준_날짜,집계_기준,기준_시간대,시작_대여소_ID,시작_대여소명,시작_대여소_자치구,종료_대여소_ID,종료_대여소명,종료_대여소_자치구,전체_건수
46,20240601,출발시간,0,ST-143,종로1·2·3·4가동_009_1,종로구,ST-943,을지로동_003_1,중구,1
47,20240601,출발시간,0,ST-145,종로1·2·3·4가동_014_1,종로구,ST-1779,을지로동_006_1,중구,1
51,20240601,출발시간,0,ST-147,명동_002_3,중구,ST-2626,광희동_002_2,중구,2
85,20240601,출발시간,0,ST-1780,광희동_001_1,중구,ST-1781,신당동_004_2,중구,2
215,20240601,출발시간,0,ST-3053,중림동_001_1,중구,ST-437,청파동_027_1,용산구,1

In [15]:
junggu_usage.shape

(283692, 10)

In [19]:
df = junggu_usage.copy()
df.head()

,기준_날짜,집계_기준,기준_시간대,시작_대여소_ID,시작_대여소명,시작_대여소_자치구,종료_대여소_ID,종료_대여소명,종료_대여소_자치구,전체_건수
46,20240601,출발시간,0,ST-143,종로1·2·3·4가동_009_1,종로구,ST-943,을지로동_003_1,중구,1
47,20240601,출발시간,0,ST-145,종로1·2·3·4가동_014_1,종로구,ST-1779,을지로동_006_1,중구,1
51,20240601,출발시간,0,ST-147,명동_002_3,중구,ST-2626,광희동_002_2,중구,2
85,20240601,출발시간,0,ST-1780,광희동_001_1,중구,ST-1781,신당동_004_2,중구,2
215,20240601,출발시간,0,ST-3053,중림동_001_1,중구,ST-437,청파동_027_1,용산구,1

In [21]:
df.shape

(283692, 10)

In [23]:
df["기준_날짜"] = pd.to_datetime(df["기준_날짜"], format="%Y%m%d")
df["주간"] = np.where(df["기준_날짜"].dt.dayofweek < 5, "평일", "주말")

In [25]:
df.head()

,기준_날짜,집계_기준,기준_시간대,시작_대여소_ID,시작_대여소명,시작_대여소_자치구,종료_대여소_ID,종료_대여소명,종료_대여소_자치구,전체_건수,주간
46,2024-06-01,출발시간,0,ST-143,종로1·2·3·4가동_009_1,종로구,ST-943,을지로동_003_1,중구,1,주말
47,2024-06-01,출발시간,0,ST-145,종로1·2·3·4가동_014_1,종로구,ST-1779,을지로동_006_1,중구,1,주말
51,2024-06-01,출발시간,0,ST-147,명동_002_3,중구,ST-2626,광희동_002_2,중구,2,주말
85,2024-06-01,출발시간,0,ST-1780,광희동_001_1,중구,ST-1781,신당동_004_2,중구,2,주말
215,2024-06-01,출발시간,0,ST-3053,중림동_001_1,중구,ST-437,청파동_027_1,용산구,1,주말

In [27]:
df["시간대"] = df["기준_시간대"] // 100

In [29]:
df.shape

(283692, 12)

In [31]:
df.head()

,기준_날짜,집계_기준,기준_시간대,시작_대여소_ID,시작_대여소명,시작_대여소_자치구,종료_대여소_ID,종료_대여소명,종료_대여소_자치구,전체_건수,주간,시간대
46,2024-06-01,출발시간,0,ST-143,종로1·2·3·4가동_009_1,종로구,ST-943,을지로동_003_1,중구,1,주말,0
47,2024-06-01,출발시간,0,ST-145,종로1·2·3·4가동_014_1,종로구,ST-1779,을지로동_006_1,중구,1,주말,0
51,2024-06-01,출발시간,0,ST-147,명동_002_3,중구,ST-2626,광희동_002_2,중구,2,주말,0
85,2024-06-01,출발시간,0,ST-1780,광희동_001_1,중구,ST-1781,신당동_004_2,중구,2,주말,0
215,2024-06-01,출발시간,0,ST-3053,중림동_001_1,중구,ST-437,청파동_027_1,용산구,1,주말,0

In [33]:
same_rental = (
    df[(df["집계_기준"] == "출발시간") & (df["시작_대여소_자치구"] == "중구") & (df["시작_대여소_ID"] == df["종료_대여소_ID"])]
     .groupby(["시작_대여소_ID","시작_대여소명","주간","시간대"], as_index=False)["전체_건수"]
     .sum()
    .rename(columns = {
        "시작_대여소_ID" : "대여소_ID",
        "시작_대여소명" : "대여소명",
        "전체_건수" : "동일대여소대여반납"
    })
)

In [35]:
same_rental.head(10)

   대여소_ID       대여소명  주간  시간대  동일대여소대여반납
0  ST-116  소공동_002_1  주말   10          1
1  ST-116  소공동_002_1  주말   16          1
2  ST-116  소공동_002_1  주말   18          3
3  ST-116  소공동_002_1  주말   19          1
4  ST-116  소공동_002_1  주말   23          1
5  ST-116  소공동_002_1  평일   10          7
6  ST-116  소공동_002_1  평일   11          3
7  ST-116  소공동_002_1  평일   12          4
8  ST-116  소공동_002_1  평일   13          3
9  ST-116  소공동_002_1  평일   14          2

In [37]:
same_district = (
    df[(df["집계_기준"] == "출발시간") & (df["시작_대여소_자치구"] == "중구") & (df["시작_대여소_ID"] != df["종료_대여소_ID"]) & 
                (df["종료_대여소_자치구"] == "중구")]
     .groupby(["시작_대여소_ID","시작_대여소명","주간","시간대"], as_index=False)["전체_건수"]
     .sum()
    .rename(columns = {
        "시작_대여소_ID" : "대여소_ID",
        "시작_대여소명" : "대여소명",
        "전체_건수" : "중구내대여반납"
    })
)

In [39]:
same_district.head(10)

   대여소_ID       대여소명  주간  시간대  중구내대여반납
0  ST-116  소공동_002_1  주말    2        1
1  ST-116  소공동_002_1  주말    7        2
2  ST-116  소공동_002_1  주말    8        3
3  ST-116  소공동_002_1  주말    9        4
4  ST-116  소공동_002_1  주말   10        4
5  ST-116  소공동_002_1  주말   11        2
6  ST-116  소공동_002_1  주말   12        4
7  ST-116  소공동_002_1  주말   13        3
8  ST-116  소공동_002_1  주말   14        9
9  ST-116  소공동_002_1  주말   15       11

In [41]:
outflow_df = (
    df[(df["집계_기준"] == "출발시간") & (df["시작_대여소_자치구"] == "중구") & (df["종료_대여소_자치구"] != "중구")]
     .groupby(["시작_대여소_ID","시작_대여소명","주간","시간대"], as_index=False)["전체_건수"]
     .sum()
    .rename(columns = {
        "시작_대여소_ID" : "대여소_ID",
        "시작_대여소명" : "대여소명",
        "전체_건수" : "유출량"
    })
)

In [43]:
outflow_df.head()

   대여소_ID       대여소명  주간  시간대  유출량
0  ST-116  소공동_002_1  주말    0    1
1  ST-116  소공동_002_1  주말    1    1
2  ST-116  소공동_002_1  주말    2    3
3  ST-116  소공동_002_1  주말    7    2
4  ST-116  소공동_002_1  주말    8    3

In [45]:
inflow_df = (
    df[(df["집계_기준"] == "출발시간") & (df["종료_대여소_자치구"] == "중구") & (df["시작_대여소_자치구"] != "중구")]
     .groupby(["시작_대여소_ID","시작_대여소명","주간","시간대"], as_index=False)["전체_건수"]
     .sum()
    .rename(columns = {
        "시작_대여소_ID" : "대여소_ID",
        "시작_대여소명" : "대여소명",
        "전체_건수" : "유입량"
    })
)

In [47]:
inflow_df.head()

    대여소_ID        대여소명  주간  시간대  유입량
0    ST-10   서교동_037_1  평일    3    1
1    ST-10   서교동_037_1  평일   16    1
2    ST-10   서교동_037_1  평일   17    2
3    ST-10   서교동_037_1  평일   19    1
4  ST-1020  신사1동_017_1  평일   11    1

In [49]:
junggu_grouped = pd.merge(
    same_rental, same_district,
    on=["대여소_ID","대여소명","주간","시간대"],
    how="outer"
).fillna(0)

In [51]:
junggu_grouped = pd.merge(
    junggu_grouped, outflow_df,
    on=["대여소_ID","대여소명","주간","시간대"],
    how="outer"
).fillna(0)

In [53]:
junggu_grouped = pd.merge(
    junggu_grouped, inflow_df,
    on=["대여소_ID","대여소명","주간","시간대"],
    how="outer"
).fillna(0)

In [55]:
junggu_grouped

        대여소_ID        대여소명  주간  시간대  동일대여소대여반납  중구내대여반납  유출량  유입량
0        ST-10   서교동_037_1  평일    3        0.0      0.0  0.0  1.0
1        ST-10   서교동_037_1  평일   16        0.0      0.0  0.0  1.0
2        ST-10   서교동_037_1  평일   17        0.0      0.0  0.0  2.0
3        ST-10   서교동_037_1  평일   19        0.0      0.0  0.0  1.0
4      ST-1020  신사1동_017_1  평일   11        0.0      0.0  0.0  1.0
...        ...         ...  ..  ...        ...      ...  ...  ...
13492   ST-992   아현동_007_2  평일   17        0.0      0.0  0.0  1.0
13493   ST-992   아현동_007_2  평일   18        0.0      0.0  0.0  9.0
13494   ST-992   아현동_007_2  평일   19        0.0      0.0  0.0  2.0
13495   ST-992   아현동_007_2  평일   20        0.0      0.0  0.0  1.0
13496   ST-992   아현동_007_2  평일   21        0.0      0.0  0.0  1.0

[13497 rows x 8 columns]

In [57]:
junggu_grouped["동일대여소대여반납"] = junggu_grouped["동일대여소대여반납"].astype(int)
junggu_grouped["중구내대여반납"] = junggu_grouped["중구내대여반납"].astype(int)
junggu_grouped["유입량"] = junggu_grouped["유입량"].astype(int)
junggu_grouped["유출량"] = junggu_grouped["유출량"].astype(int)

In [59]:
junggu_grouped

        대여소_ID        대여소명  주간  시간대  동일대여소대여반납  중구내대여반납  유출량  유입량
0        ST-10   서교동_037_1  평일    3          0        0    0    1
1        ST-10   서교동_037_1  평일   16          0        0    0    1
2        ST-10   서교동_037_1  평일   17          0        0    0    2
3        ST-10   서교동_037_1  평일   19          0        0    0    1
4      ST-1020  신사1동_017_1  평일   11          0        0    0    1
...        ...         ...  ..  ...        ...      ...  ...  ...
13492   ST-992   아현동_007_2  평일   17          0        0    0    1
13493   ST-992   아현동_007_2  평일   18          0        0    0    9
13494   ST-992   아현동_007_2  평일   19          0        0    0    2
13495   ST-992   아현동_007_2  평일   20          0        0    0    1
13496   ST-992   아현동_007_2  평일   21          0        0    0    1

[13497 rows x 8 columns]

In [61]:
junggu_grouped = junggu_grouped.sort_values(["대여소_ID", "주간", "시간대"]).reset_index(drop=True)
junggu_grouped.head()

    대여소_ID        대여소명  주간  시간대  동일대여소대여반납  중구내대여반납  유출량  유입량
0    ST-10   서교동_037_1  평일    3          0        0    0    1
1    ST-10   서교동_037_1  평일   16          0        0    0    1
2    ST-10   서교동_037_1  평일   17          0        0    0    2
3    ST-10   서교동_037_1  평일   19          0        0    0    1
4  ST-1020  신사1동_017_1  평일   11          0        0    0    1

In [63]:
junggu_grouped

        대여소_ID        대여소명  주간  시간대  동일대여소대여반납  중구내대여반납  유출량  유입량
0        ST-10   서교동_037_1  평일    3          0        0    0    1
1        ST-10   서교동_037_1  평일   16          0        0    0    1
2        ST-10   서교동_037_1  평일   17          0        0    0    2
3        ST-10   서교동_037_1  평일   19          0        0    0    1
4      ST-1020  신사1동_017_1  평일   11          0        0    0    1
...        ...         ...  ..  ...        ...      ...  ...  ...
13492   ST-992   아현동_007_2  평일   17          0        0    0    1
13493   ST-992   아현동_007_2  평일   18          0        0    0    9
13494   ST-992   아현동_007_2  평일   19          0        0    0    2
13495   ST-992   아현동_007_2  평일   20          0        0    0    1
13496   ST-992   아현동_007_2  평일   21          0        0    0    1

[13497 rows x 8 columns]

In [65]:
junggu_grouped = junggu_grouped.drop(["대여소명"], axis = 1)

In [67]:
junggu_grouped

        대여소_ID  주간  시간대  동일대여소대여반납  중구내대여반납  유출량  유입량
0        ST-10  평일    3          0        0    0    1
1        ST-10  평일   16          0        0    0    1
2        ST-10  평일   17          0        0    0    2
3        ST-10  평일   19          0        0    0    1
4      ST-1020  평일   11          0        0    0    1
...        ...  ..  ...        ...      ...  ...  ...
13492   ST-992  평일   17          0        0    0    1
13493   ST-992  평일   18          0        0    0    9
13494   ST-992  평일   19          0        0    0    2
13495   ST-992  평일   20          0        0    0    1
13496   ST-992  평일   21          0        0    0    1

[13497 rows x 7 columns]

In [69]:
junggu_grouped.to_csv("./data/columns중구/중구컬럼5.csv", index = False)