# 데이터프레임 

- 행과 열로 구성된 표 형태의 데이터

In [2]:
import pandas as pd

# 데이터 확인

In [5]:
df = pd.read_csv("./data/gapminder.tsv", sep = "\t")

In [7]:
# 상위 5개 Default
# df.head(3)는 3개만
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [15]:
# 하위 5개 Default
# df.tail(3)는 3개만
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [17]:
type(df)

pandas.core.frame.DataFrame

In [19]:
# (행, 열)
df.shape

(1704, 6)

- 행
    - 가로로 나열되는 각 데이터의 단위
        - 로우(row) 또는 케이스(case)라고도 불림
- 열
    - 세로로 나열되는 속성
        - 컬럼(column) 또는 변수(variable)라고도 불림

In [22]:
# 데이터프레임의 컬럼명 확인
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

- 판다스와 파이썬 자료형
    - 문자열
        - 파이썬 : string
        - 판다스 : object
    - 정수 / 실수 / datetime
        - 파이썬 : int, float, datetime
        - 판다스 : int64, float64, datetime64

In [25]:
# 데이터프레임 값의 자료형 확인
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# 데이터 추출

In [30]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [32]:
type(df["country"])

pandas.core.series.Series

In [34]:
country_se = df["country"]

In [36]:
# 시리즈 데이터 앞부분 확인
country_se.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [38]:
# 시리즈 데이터 뒷부분 확인
country_se.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [40]:
# 데이터프레임에서 여러 컬럼 추출
subset = df[["country", "continent", "year"]]

In [42]:
type(subset)

pandas.core.frame.DataFrame

In [44]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

## 행단위 데이터 추출

- loc
    - 인덱스를 기준으로 행 데이터 추출
- iloc
    - 행 번호를 기준으로 행 데이터 추출

### loc

- 인덱스(index) : 값의 위치를 나타낸 값
    - 데이터프레임을 만들면 자동으로 인덱스 번호가 부여됨
        - 현재 gapminder 데이터의 왼쪽에 세로로 나열된 0, 1, 2, 3, 4.....

In [48]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [50]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [52]:
df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object