# 파이썬 컬렉션 자료구조

# 1. 리스트(list)

- 일상 생활에서 사용하는 목록과 비슷한 개념을 가진 자료구조
- 여러 개의 데이터를 하나의 변수에 한 번에 저장하고 관리할 수 있다.
- 하나의 데이터만 담은 변수
    - age = 20
- 여러 개의 데이터를 묶은 리스트를 담은 변수
    - nums = [0, 1, 2, 3] 데이터들을 쉼표로 구분하여 나열한다.
 
```
numbers = [0, 1, 2, 3, 4]       # 숫자 리스트
alphabets = ['a', 'b', 'c']     # 문자 리스트
bools = [True, True, False]     # 논리값 리스트
greetings = ["hi", "hello"]     # 문자열 리스트
```

- 파이썬에서만 가능 (다른 언어에서는 사용 불가)
    - example = [3, 9, "y", 2, "k", True]     # 숫자, 문자, 논리값 혼합하여 담은 리스트

In [21]:
# 예제 1
nums = [6, 1, 3]
print(nums)

[6, 1, 3]

In [23]:
# 예제 2. 인덱스를 사용하여 요소 접근하기
names = ["kim", "lee", "park"]
print(names[0])
print(names[1])
print(names[2])
print(names[-1])
print(names[-2])
print(names[-3])

kim
lee
park
park
lee
kim

In [25]:
# 예제 3
nums = [10, 20, 30, 40, 50]
print(nums[0])
print(nums[2])
print(nums[4])
print(nums[2])

10
30
50
30

## 리스트 슬라이싱
리스트[start : stop : step]

### IndexError
- nums = [1, 2, 3, 4, 5]      # 인덱스는 5까지 있다
- print(nums[7])              # IndexError: list index out of range

In [28]:
# 예제 1
example = [3, 9, "y", 2, "k", True]
print(example[1:4])
print(example[2:])
print(example[0:-1])

[9, 'y', 2]
['y', 2, 'k', True]
[3, 9, 'y', 2, 'k']

## 리스트 결합 : + 연산자

### 리스트 결합

- 리스트에서 자주 사용하는 연산 중 하나는 결합이다.
- 리스트 결합은 여러 개의 리스트를 하나의 리스트로 합쳐 새로운 리스트를 만들 수 있는 연산이다.

### + 연산자

- '+' 연산자 - 두개 이상의 리스트를 직접 연결하여 새로운 리스트를 만든다.
- 기존 리스트를 수정하지 않는다.

In [79]:
# 예제 1
list1 = ["A", "B", "C"]
list2 = ["D", "E"]
list3 = list1 + list2
print(list3)

list3 = list2 + list1
print(list3)

['A', 'B', 'C', 'D', 'E']
['D', 'E', 'A', 'B', 'C']

## 리스트 결합 : extend

### extend()

- 메서드 - 기존 리스트의 끝에 다른 리스트의 모든 요소를 추가한다.
- 기존 리스트를 수정한다.
- 메모리에 효율적이다
- 문법 : 리스트.extend(연결할 리스트)

In [39]:
# 예제 1
list11 = ["A", "B", "C"]
list22 = ["D", "E"]
list11.extend(list22)
print(list11)
print(list22)

['A', 'B', 'C', 'D', 'E']
['D', 'E']

In [41]:
# 예제 2
nums1 = [1, 2, 3]
nums2 = [4, 5]
nums1.extend(nums2)
print(nums1)

[1, 2, 3, 4, 5]

## 리스트 반복

In [44]:
# 예제 1
nums1 = [1, 9, 3, 0]
print(nums1 * 3)

[1, 9, 3, 0, 1, 9, 3, 0, 1, 9, 3, 0]

## 리스트 메서드

### 1. 리스트 추가: **append()**

- 리스트에 요소를 추가하고 싶을 때 간단하게 쓰는 메서드.
- 리스트의 마지막에 새로운 요소를 추가하는 역할.
- 문법 : 리스트변수.append(추가할 값(요소))

In [50]:
# 예제 1
nums4 = [1, 2, 3]
nums4.append(4)
print("추가 후 : ", nums4)

추가 후 :  [1, 2, 3, 4]

In [52]:
# 예제 2
fruits = ["apples", "bananas"]
fruits.append("cherry")
print("추가 후 : ", fruits)

추가 후 :  ['apples', 'bananas', 'cherry']

### 2. 리스트 추가: **insert()**

- 파이썬에서는 리스트의 중간에 요소를 삽입할 수 있는 insert() 메서드를 제공
- 문법 : 리스트변수.insert(위치(인덱스 번호), 추가할 값(요소))

In [56]:
# 예제 1
nums5 = [4, 5, 6]
print("추가 전 : ", nums5)
nums5.insert(1, 8)
print("추가 후 : ", nums5)

추가 전 :  [4, 5, 6]
추가 후 :  [4, 8, 5, 6]

In [62]:
# 예제. append() vs insert()
animals = ["monkey", "dog"]
print("추가 후 :", animals)

animals.append("cat")
animals.append("lion")
print("결과 1 :", animals)

animals.insert(2, "horse")
print("결과 2 :", animals)

animals.insert(4, "cow")
print("결과 3 :", animals)

추가 후 : ['monkey', 'dog']
결과 1 : ['monkey', 'dog', 'cat', 'lion']
결과 2 : ['monkey', 'dog', 'horse', 'cat', 'lion']
결과 3 : ['monkey', 'dog', 'horse', 'cat', 'cow', 'lion']

### 3. 리스트 삭제 : **remove()**

- 특정 값을 가진 요소를 삭제
- 문법 : 리스트변수.remove(요소)

In [84]:
# 예제 1
nums6 = [1, 2, 3, 4, 5]
print("추가 전 : ", nums6)

nums6.remove(2)
print("추가 후 : ", nums6)

추가 전 :  [1, 2, 3, 4, 5]
추가 후 :  [1, 3, 4, 5]

In [86]:
# 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제
print(">> 리스트 삭제 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제")

color = ["black", "yellow", "red", "black"]

# remove는 왼쪽에서 오른쪽 방향으로 순차적으로 검사하여 처음 발견되는 값과 일치하는 요소만 삭제
# 동일한 값을 가진 요소가 여러 개 있더라도 처음 발견된 요소만 삭제한다.
color.remove("black")

# while문 사용하여 remove
while "black" in color :
    color.remove("black")
print(color)

# 오류 : x not in list 리스트에 없는 값
# color.remove("hello")
print(color)

>> 리스트 삭제 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제
['yellow', 'red']
['yellow', 'red']

### 4. 리스트 삭제 : **pop()**

- 특정 위치에 있는 요소를 삭제
- 문법 : 리스트변수.pop(인덱스 번호)

In [89]:
# 예제 1
nums7 = [1, 2, 3, 4, 5]
print("추가 전 : ", nums7)

nums7.pop(4)
print("추가 후 : ", nums7)

추가 전 :  [1, 2, 3, 4, 5]
추가 후 :  [1, 2, 3, 4]

In [72]:
# 예제 2
colors = ["black", "yellow", "red", "black"]
colors.pop(3)
print(colors)

['black', 'yellow', 'red']

In [74]:
# 예제 3
numbers = [10, 20, 30, 40, 50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

### 5. 리스트 길이 확인: **len()**

- 리스트 길이
- 문법 : len(리스트)

In [93]:
# 예제 1
computer_science = ["data structure", "algorithms", "python"]
subject_num = len(computer_science)
print(subject_num)

3

In [95]:
# 예제 2
numbers = [10, 20, 30, 40, 50]

for i in range(len(numbers)) :
    print(numbers[i])

10
20
30
40
50

In [97]:
# 예제 3
fruits = ["apple", "banana", "cherry", "data"]

for i in range(len(fruits)) :
    print(fruits[i])

apple
banana
cherry
data

### 6. 리스트 정렬: **sort()**

- 리스트를 자동으로(오름차순) 정렬하여 다시 저장한다.
- 즉, 원본 리스트가 변경된다.
- 문법 : 리스트.sort()

### 7. 리스트 정렬: sort(reverse = True)

- 리스트를 자동으로(내림차순) 정렬하여 다시 저장한다.
- 문법 : 리스트.sort(reverse = True)

In [111]:
# 예제 1
list_num = [2, 7, 3, 5]
list_num.sort()
print(list_num)

list_num.sort(reverse=True)
print(list_num)

[2, 3, 5, 7]
[7, 5, 3, 2]

In [113]:
# 예제 2
names = ["Tom", "Jerry", "Alice", "Bob"]
names.sort()
print(names)

names.sort(reverse=True)
print(names)

['Alice', 'Bob', 'Jerry', 'Tom']
['Tom', 'Jerry', 'Bob', 'Alice']

### 8. 리스트 정렬: **sorted()**

- 새롭게 정렬된 리스트를 반환한다.
- sort() 메서드와 달리 원본 리스트는 변경되지 않는다.

In [117]:
# 예제 1
numbers2 = [5, 2, 3, 4, 1]
sorted_numbers = sorted(numbers2)
print(numbers2)     # 원본 바뀌지 않음
print(sorted_numbers)

[5, 2, 3, 4, 1]
[1, 2, 3, 4, 5]

### 9. 리스트 반전: **reverse()**

- 리스트의 맨 앞 요소가 맨 뒤로, 맨 뒤 요소가 맨 앞으로 이동한다.
- 리스트 원본이 변경된다.
- 문법 : 리스트.reverse()

In [121]:
# 예제 1
list_num2 = [2, 7, 3, 5]
list_num2.reverse()
print(list_num2)

[5, 3, 7, 2]

### 10. **in**

- 리스트 내부에 요소가 있는지 확인하는 키워드
- 파이썬에서 in 키워드는 리스트에 특정 값이 존재하는지 확인하는데 사용
- 문법: 특정값 in 리스트

### 11. **not in**

- 리스트 내부에 요소가 없는지 확인하는 키워드
- 존재하지 않는 지 확인하는 데 사용

In [125]:
# 예제 1
list_n = [1, 2, 3, 4, 5, 6, 7]
print(3 in list_n)      # 리스트에 존재하기 때문에 True
print(10 in list_n)     # 리스트에 없기 때문에 False
print(5 not in list_n)  # 리스트에 있기 때문에 False

True
False
False

### 12. **join()**

- 리스트 요소를 문자열로 만들기
- 리스트의 요소들을 하나하나 엮어서 새로운 문자열을 만들기 위해 파이썬은 join() 메소드 제공
- 문법 : 요소 사이에 들어갈 문자.join(리스트)

In [129]:
# 예제 1
list_abc = ["a", "b", "c"]
result = "-".join(list_abc)
print(result)

result2 = "*".join(list_abc)
print(result2)

a-b-c
a*b*c

### 리스트 종합 문제

In [136]:
# 종합 1. for문을 사용하여 리스트 출력하기
animals = ["dog", "cat", "tiger", "lion"]
for i in range(len(animals)) :
    print(i)

0
1
2
3

In [134]:
# 종합 2. 리스트 오름차순 정렬
numbers3 = [15, 3, 9, 1, 7]
numbers3.sort()
print(numbers3)

[1, 3, 7, 9, 15]

In [138]:
# 종합 3. 리스트 내림차순 정렬
score = [88, 92, 75, 63, 99]
score.sort(reverse=True)
print(score)

[99, 92, 88, 75, 63]

In [140]:
# 종합 4. 원본 리스트와 새 리스트 모두 출력하기
value = [10, 5, 8, 2, 6]
sorted_value = sorted(value)
print("원본 리스트 :", sorted_value)
print("정렬된 리스트 :", sorted)

원본 리스트 : [2, 5, 6, 8, 10]
정렬된 리스트 : <built-in function sorted>

In [142]:
# 종합 5. 리스트 반전시키기
colors = ["red", "green", "blue"]
colors.reverse()
print(colors)

['blue', 'green', 'red']

# 2. 딕셔너리(Dictionary)

- 키(key)와 값(value)의 쌍으로 이루어진 자료형으로 정보를 효율적으로 관리하는데 유용하다.
- key : 데이터를 식별하는 고유한 값. key는 중복될 수 없다. 만약, 같은 key가 여러 번 쓰이면, 마지막에 입력된 값으로 덮어쓰기 된다.
- value : key에 대응되는 데이터 값. value는 중복 가능하다.
- 상품 정보처럼 여러가지 정보를 한꺼번에 저장하고 관리하는데 유용하다.
- 딕셔너리에 포함된 항목들을 하나의 쌍 또는 페어(pair)라고 한다.

```
# 키(key) - 값(value)
# apple  -   사과

dic = {
    key1: value1
    key2: value2
}

person = {
    "name" : "kim",
    "age" : 30,
    "phone: " "01024562345"
}
```

In [154]:
# 딕셔너리 (Dictionary)
dic = {
    "a" : "abc",
    "b" : 3,
    4 : [1, 2, 3],
}
print(dic)

{'a': 'abc', 'b': 3, 4: [1, 2, 3]}

In [156]:
# 딕셔너리에 저장된 데이터를 한쌍씩 출력하고 싶으면 : 변수명[key값]
print(dic["a"])
print(dic[4])

abc
[1, 2, 3]

In [160]:
# 예제 1
fruits = {
    "apple" : 3,
    "banana" : 5,
    "orange" : 2
}
print(fruits)

{'apple': 3, 'banana': 5, 'orange': 2}

In [162]:
# 예제 2
person = {
    "name" : "kim",
    "age" : 30,
    "phone" : "010-1234-5667",
    "subject" : ["python", "java"]
}
print("1. 딕셔너리 전체 출력 :", person)
print("2. kim 출력 :", person["name"])
print("3. subject 출력 :", person["subject"])
# print(person["face"])     # KeyError: "face" -> key 값이 없을 때 나타나는 에러

1. 딕셔너리 전체 출력 : {'name': 'kim', 'age': 30, 'phone': '010-1234-5667', 'subject': ['python', 'java']}
2. kim 출력 : kim
3. subject 출력 : ['python', 'java']

## 딕셔너리(Dictionary) 연산

: 연산을 지원하며, 이를 통해 딕셔너리를 자유롭게 조작하고 데이터를 활용할 수 있다.

## 1. dic = {}

- 장 기본적인 딕셔너리 연산은 빈 딕셔너리를 생성하는 것
- 빈 딕셔너리는 아직 어떤 데이터도 저장하지 않은 상태

### 2. key-value 쌍 추가

- 문법 : 딕셔너리 변수명[새로운 key값] = 새로운 value값

In [167]:
# 예제 1
dic_color = {
    "red" : "apple",
    "yellow" : "banana",
    "purple" : "grape"
}
print(dic_color)

# dic_color["Orange"] = "orange"
dic_color["red"] = "orange"
print(dic_color)

{'red': 'apple', 'yellow': 'banana', 'purple': 'grape'}
{'red': 'orange', 'yellow': 'banana', 'purple': 'grape'}

In [169]:
# 예제 2
dic_animal = {
    "dog" : "멍멍",
    "cat" : "야옹",
    "cow" : "음메"
}
print(dic_animal)

dic_animal["bird"] = "짹짹"
print(dic_animal)

dic_animal["cat"] = "냐옹"
print(dic_animal)

{'dog': '멍멍', 'cat': '야옹', 'cow': '음메'}
{'dog': '멍멍', 'cat': '야옹', 'cow': '음메', 'bird': '짹짹'}
{'dog': '멍멍', 'cat': '냐옹', 'cow': '음메', 'bird': '짹짹'}

### 3. key-value 쌍 삭제 : del

- 문법 : del 딕셔너리 변수명[삭제하고 싶은 key값]

In [177]:
# 예제 1
sports_star = {
    "축구" : "손흥민",
    "야구" : "이정후",
    "피겨스케이팅" : "김연아",
    "수영" : "박태환",
}
print(sports_star)

del sports_star["야구"]
print(sports_star)

{'축구': '손흥민', '야구': '이정후', '피겨스케이팅': '김연아', '수영': '박태환'}
{'축구': '손흥민', '피겨스케이팅': '김연아', '수영': '박태환'}

### 4. key-value 쌍 삭제: pop

- pop은 삭제하면서 값을 반환해준다. 그래서 나중에 그 값을 활용할 수 있다.
- 문법 : value = 딕셔너리 변수명.pop(삭제하고 싶은 key값)

In [180]:
# 예제 1
dic2 = {
    1 : "java",
    2 : "python",
    3 : "C++"
}
print(dic2)

value = dic2.pop(1)
print("삭제된 값 :", value)
print("삭제 후 딕셔너리 :", dic2)

{1: 'java', 2: 'python', 3: 'C++'}
삭제된 값 : java
삭제 후 딕셔너리 : {2: 'python', 3: 'C++'}

### 5. 딕셔너리 전체 삭제: clear

- 문법 : 딕셔너리 변수명.clear()

In [183]:
# 예제 1
dic2.clear()
print(dic2)

{}

## 딕셔너리 메서드(기능)

### 1. **.get(key)**

- 해당 key의 값을 가져옴 (key가 없으면 None 반환)

In [187]:
# 예제 1
person = {
    "name" : "Tom",
    "age" : 12
}
print(person.get("name"))
print(person.get("height"))     # None (오류가 아님)

Tom
None

In [189]:
# 예제 2
fruit_color = {
    "apple" : "red",
    "banana" : "yellow",
    "grape" : "purple"
}
print(fruit_color.get("banana"))
print(fruit_color.get("grapefruit"))

yellow
None

### 2. **.keys()**

- 딕셔너리의 모든 key 값을 반환

In [193]:
# 예제 1
fruit_color2 = {
    "red" : "apple",
    "yellow" : "banana",
    "purple" : "blueberry"
}
print("1. keys() 출력 : ", fruit_color2.keys())
# fruit_color2.keys().append("test")      # append는 리스트에서만 사용할 수 있다.

1. keys() 출력 :  dict_keys(['red', 'yellow', 'purple'])

In [195]:
# 예제 2. for문 + keys() 결합
print("2. for문 + keys() 결합")
for i in fruit_color2.keys() :
    print(i)

2. for문 + keys() 결합
red
yellow
purple

In [197]:
# 예제 3
job_dic = {
    "teacher" : "school",
    "doctor" : "hospital",
    "chef" : "restaurant"
}
print("직업 목록 :", job_dic)

for i in job_dic.keys() :
    print(i)

직업 목록 : {'teacher': 'school', 'doctor': 'hospital', 'chef': 'restaurant'}
teacher
doctor
chef

#### 딕셔너리의 키 값들을 리스트로 변환하기

- 문법 : list(딕셔너리.keys())

In [201]:
# 예제 1
fruit_colors = {
    "red" : "apple",
    "yellow" : "banana",
    "purple" : "blueberry",
}
print("1. keys()")
print(fruit_colors.keys())
print()

print("2. 리스트로 변환하기 : list() + keys()의 결합")
# keys() 메서드를 호출하여 반환된 객체를 list 메서드에 인자로 전달
color_list = list(fruit_colors.keys())
print(color_list)
color_list.append("blue")
print(list(color_list))

1. keys()
dict_keys(['red', 'yellow', 'purple'])

2. 리스트로 변환하기 : list() + keys()의 결합
['red', 'yellow', 'purple']
['red', 'yellow', 'purple', 'blue']

In [203]:
# 예제 2
animal_sounds = {
    "dog" : 1,
    "cat" : 2,
    "cow" : 3
}
animal_list = list(animal_sounds.keys())
print(animal_list)

animal_list.pop(1)
print(animal_list)

animal_list.remove("dog")
print(animal_list)

['dog', 'cat', 'cow']
['dog', 'cow']
['cow']

In [205]:
# 예제 3
t_sound = {
    "car" : 10,
    "train" : 20,
    "bike" : 30
}

t_list = list(t_sound.keys())
print("1. 리스트 변환 :",t_list)

t_list.append("airplane")
print("2. 값 추가 후 : ", t_list)

t_list.remove("bike")
print("3. 값 삭제 후 :", t_list)

1. 리스트 변환 : ['car', 'train', 'bike']
2. 값 추가 후 :  ['car', 'train', 'bike', 'airplane']
3. 값 삭제 후 : ['car', 'train', 'airplane']

### 3. **.values()**

- 딕셔너리의 모든 value 값을 반환

#### 딕셔너리의 Value 값들을 리스트로 변환하기

- 문법 : list(딕셔너리.values())

In [210]:
# 예제 1
abc_div = {
    "a" : "alphabet",
    "b" : "best",
    "c" : "cheer"
}

print("1. values() 출력")
print(abc_div.values())
print()

print("2. for문과 values()의 결합")
for i in abc_div.values() :
    print(i)
print()

print("3. list()와 values()의 결합")
abc_list = list(abc_div.values())
abc_list.remove("alphabet")
print(abc_list)

1. values() 출력
dict_values(['alphabet', 'best', 'cheer'])

2. for문과 values()의 결합
alphabet
best
cheer

3. list()와 values()의 결합
['best', 'cheer']

### 4. **.pop(key)**

- key에 해당하는 항목을 삭제하고, 그 value를 반환

In [213]:
# 예제 1
person = {
    "name" : "Tom",
    "age" : 12
}
age = person.pop("age")
print(age)
print(person)

12
{'name': 'Tom'}

### 5. **.update()**

- 다른 딕셔너리를 추가하거나 기존 값을 수정

In [216]:
# 예제 1
person.update({"age" : 12})
person.update({"height" : 12})
print(person)

{'name': 'Tom', 'age': 12, 'height': 12}

### 6. **items()**

- 딕셔너리 안의 (키, 값) 쌍을 튜플 형태로 모두 가져올 수 있다.
- 문법 : 딕셔너리.items()

In [221]:
# 예제 1
abc_dic = {
    "a" : "alphabet",
    "b" : "best",
    "c" : "cheer",
}

print("1. items()")
print(abc_dic.items())
print()

print("2. for문 + items() 결합")
# for문의 반복 루프에서 매번 a 변수의 현재값, 즉 key-value 쌍을 출력
for a in abc_dic.items() :
    print(a)
print()

print("3. list() + items() 결합")
# items() 메서드를 사용해 딕셔너리의 모든 키-값을 튜플 형태로 리스트에 복사
abc_list = list(abc_dic.items())
print(abc_list)

abc_list.append(("g", "good"))
print(abc_list)

1. items()
dict_items([('a', 'alphabet'), ('b', 'best'), ('c', 'cheer')])

2. for문 + items() 결합
('a', 'alphabet')
('b', 'best')
('c', 'cheer')

3. list() + items() 결합
[('a', 'alphabet'), ('b', 'best'), ('c', 'cheer')]
[('a', 'alphabet'), ('b', 'best'), ('c', 'cheer'), ('g', 'good')]

In [223]:
# 예제 2
score_dic = {
    "Korean" : 95,
    "Math" : 88,
    "English": 92,
}

print("1. items() 출력")
print(score_dic.items())
print()

print("2. for문 + items() 결합")
for subject, score in score_dic.items() :
    print(f"{subject}, {score}")
print()

print("3. list() + items() 결합")
score_list = list(score_dic.items())
print(score_list)

score_list.append(("Science", 55))
print(score_list)

1. items() 출력
dict_items([('Korean', 95), ('Math', 88), ('English', 92)])

2. for문 + items() 결합
Korean, 95
Math, 88
English, 92

3. list() + items() 결합
[('Korean', 95), ('Math', 88), ('English', 92)]
[('Korean', 95), ('Math', 88), ('English', 92), ('Science', 55)]

# 3. 튜플(Tuple)

- 여러 개의 값을 하나의 변수에 저장할 수 있는 자료형
- 리스트와 비슷하지만, 튜플은 수정할 수 없다는 큰 차이점이 있다.
- 변수명 = (요소1, 요소2, 요소3)

In [227]:
# 예제 1.
names = ("kim", "lee", "park")
print(names[-3])
print(names[-2])
print(names[-1])

for i in names :
    print(i)

kim
lee
park
kim
lee
park

## 튜플 슬라이싱

In [230]:
# 예제 1.
example = (3, 9, "y", 2, "k", True)
print(example[1:4])     # 4는 포함하지 않는다.
print(example[2:6])
print(example[0:5])
print()

# 범위를 벗어난 슬라이싱
print(example[4:8])
# print(example[8])     # 오류 발생

(9, 'y', 2)
('y', 2, 'k', True)
(3, 9, 'y', 2, 'k')

('k', True)

## 리스트와 튜플 요소 수정하기

### 리스트와 튜플의 차이

- 리스트(list) : [] 사용 / 수정 가능  / 크기 변경 가능  / 변수명 = [요소1, 요소2, 요소3.......]
- 튜플(tuple) : () 사용 / 수정 불가능 / 크기 고정       / 변수명 = (요소1, 요소2, 요소3......)

### 튜플은 언제 사용할까?

1. 값이 변하지 않아야 할 때
2. 리스트보다 속도가 빠르다.
3. 함수에서 여러 개의 값을 한번에 반환할 때

In [236]:
# 1.
list3 = [3, 0, 9]
tuple3 = (3, 0, 9)

#전체 리스트, 튜플 출력
print(list3)
print(tuple3)

# 각 첫번째 요소 수정
list3[0] = 30
# tuple[0] = 30   # 오류 발생 : 튜플은 수정할 수 없다.

# 리스트 요소 추가
list3.append(7)
print(list3)

# 튜플 요소 추가
# tuple.append(7)
# print(tuple)    # 오류 발생 : 튜플은 수정할 수 없다.

[3, 0, 9]
(3, 0, 9)
[30, 0, 9, 7]

## 튜플(Tuple)의 메서드

### 1. **count()**

- 리스트, 튜플, 문자열 등에서 특정 값이 몇 번 나오는지 알려주는 메서드
- 문법 : 변수명.count(찾을 값)

In [241]:
# 예제 1
# list
numbers = [1, 2, 3, 2, 4, 2]
print("1) list의 count() :", numbers.count(2))

# tuple
colors = ("red", "blue", "red", "green", "red")
print("2) tuple의 count() :", colors.count("red"))

# text
text = "banana"
print("3) text의 count() :", text.count("b"))

1) list의 count() : 3
2) tuple의 count() : 3
3) text의 count() : 1

In [243]:
# 예제 2
tuple_alphabet = ("a", "a", "b", "c", "c", "a")
print("a의 개수 :", tuple_alphabet.count("a"))
print("b의 개수 :", tuple_alphabet.count("b"))
print("c의 개수 :", tuple_alphabet.count("c"))

a의 개수 : 3
b의 개수 : 1
c의 개수 : 2

### 2. **index()**

- 리스트, 튜플, 문자열 등에서 특정 값의 위치(어디에 있는지)를 알려주는 메서드 (첫 등장 위치 or 인덱스)
- 문법 : 변수명.index(찾을 값)

In [246]:
# 예제 1
fruits = ["apple", "banana", "cherry", "banana"]
print(fruits.index("banana"))

1

In [248]:
# 예제 2
nums = (3, 5, 7, 9, 2, 7, 1)
print(nums.index(7))

2

## 튜플의 활용 - 데이터 교환

- 튜플은 각 요소를 직접 수정할 수 없지만, 두 튜플을 활용하여 간접적으로 튜플 요소의 값을 교환할 수 있다.
- '=' 연산자를 사용하여 새로운 튜플의 값을 기존 튜플 변수에 할당한다.

In [252]:
# 예제 1
x = 10
y = 20
print("교환 전 출력 : x = ", x, ", y = ", y)

(x, y) = (y, x)
print("교환 후 출력 : x = ", x, ", y = ", y)

교환 전 출력 : x =  10 , y =  20
교환 후 출력 : x =  20 , y =  10

In [254]:
# 예제 2
name = "Alice"
nickName = "Ace"
print("교환 전 출력 : name = ", name, ", nickName = ", nickName)

(name, nickName) = (nickName, name)
print("교환 후 출력 : name = ", name, ", nickName = ", nickName)

교환 전 출력 : name =  Alice , nickName =  Ace
교환 후 출력 : name =  Ace , nickName =  Alice

# 4. 세트(Set)

- 중복을 허용하지 않고, 순서가 없는 자료형이다
- 세트란?
    - 수학에서 말하는 집합과 비슷하다.(합집합, 교집합, 차집합)
    - 중복된 값을 자동으로 제거한다.
    - 값들의 순서가 없어서 인덱스로는 접근이 불가능하다.

### 세트의 기본 형태

- 변수명 = {요소1, 요소2, 요소3 ... }
- 세트의 표현 방법은 {}
- 다른 자료형을 세트로 변환하고자 할 때, 문법 : set(세트로 바꾸고 싶은 다른 자료형)

### 참고

- Q : 문자열을  set으로 변환했을 대 순서가 매번 달라지는데, 숫자 리스트나 튜플은 set으로 바꾸면 숫자가 거의 고정되어 있는지?
- A : 해시값이란 데이터(문자, 숫자등)를 일정한 규칙에 따라 고정된 크기의 숫자로 바꾼 값이다.
    - = 데이터를 빠르게 찾기 위한 고유 식별 숫자(바뀔 수있다.)

- 숫자는 해시값이 안정적이다
    - 문자열 : set()으로 변환시 매번 달라짐
    - 숫자 : 변환을 해도 대부분 비슷한 순서이다.

In [262]:
# 예제 1.
str2 = "apple"
list2 = [1, 2, 3]
tuple2 = (1, 2, 3)

print("str : ", str2)
print("list : ", list2)
print("tuple : ", tuple2)

str :  apple
list :  [1, 2, 3]
tuple :  (1, 2, 3)

## set로 변환한 자료형들

In [269]:
# 예제 1.
# 변수 str의 문자열 "apple"을 set 자료형으로 변환하여 set_str에 할당한다.
set_str = set(str2)
set_list = set(list2)
set_tuple = set(tuple2)

print("set_str : ", set_str)    # 출력값이 계속 변하는 이유는 set은 순서 유지를 하지 않기 때문이다. 중복 허용하지 않기에 a가 하나가 사라짐
print("set_list : ", set_list)
print("set_tuple : ", set_tuple)

set_str :  {'p', 'e', 'a', 'l'}
set_list :  {1, 2, 3}
set_tuple :  {1, 2, 3}

In [271]:
# 예제 2. (중복 포함)
num_list = [1, 2, 2, 3, 3, 3, 4]
num_tuple = (5, 5, 6, 7, 6, 7, 7)

print("list 원본 :", num_list)
print("tuple 원본 :", num_tuple)
print()

print("list > set :", set(num_list))
print("tuple > set :",set(num_tuple))

list 원본 : [1, 2, 2, 3, 3, 3, 4]
tuple 원본 : (5, 5, 6, 7, 6, 7, 7)

list > set : {1, 2, 3, 4}
tuple > set : {5, 6, 7}

## set 요소 접근 시도하기

In [274]:
# str_banana = "banana"
# set_banana = set(str_banana)
#print(set_banana[0])    # set는 인덱싱이 불가능

In [276]:
# 예제 1. 리스트와 튜플로 변환하여 세트 요소에 접근하기 
str_banana = "banana"
set_banana = set(str_banana)
print(set_banana)

list_banana = list(set_banana)
tuple_banana = tuple(set_banana)
print(list_banana[0])
print(tuple_banana[1])

{'n', 'b', 'a'}
n
b

In [278]:
# 예제 2. 리스트와 튜플로 변환하여 세트 요소에 접근하기
str_apple = "apple"

set_apple = set(str_apple)
print(set_apple)

list_apple = list(set_apple)
tuple_apple = tuple(set_apple)

print("list_apple :", list_apple[0])
print("tuple_apple :", tuple_apple[1])

{'p', 'e', 'a', 'l'}
list_apple : p
tuple_apple : e

## n번째로 작은 알파벳 출력하기

In [281]:
# 예제 1.
str_random = "apbdhwoernzhd"

# 문자열을 set으로 변경
str_random = set(str_random)
print(str_random)
list_str = list(str_random)
print(list_str)

# 오름차순 정렬
list_str.sort()
print(list_str)
print()

# 특정 순서의 알파벳 출력
print("3번째로 작은 알파벳 :", list_str[3])
print("7번째로 작은 알파벳 :", list_str[7])
print("5번째로 작은 알파벳 :", list_str[5])

{'r', 'w', 'd', 'b', 'n', 'e', 'h', 'a', 'z', 'p', 'o'}
['r', 'w', 'd', 'b', 'n', 'e', 'h', 'a', 'z', 'p', 'o']
['a', 'b', 'd', 'e', 'h', 'n', 'o', 'p', 'r', 'w', 'z']

3번째로 작은 알파벳 : e
7번째로 작은 알파벳 : p
5번째로 작은 알파벳 : n

## 세트(Set)의 메서드

### 1. **.add()**

- '하나'의 요소를 추가할 때 사용하는 메서드
- 문법 : 세트.add(요소)

### 2. **.update()**

- set에 여러 개의 요소를 한꺼번에 추가할 때 사용한다
- 문법 : 세트.update(반복가능한\_자료형)
- 예시 : s.update([1, 2, 3])

##### 중복된 값은 자동으로 걸러진다.

In [289]:
# 예제 1: 세트 요소 추가하기
set = {1, 2, 3}
set.add(4)
print(set)

set.update({5, 6, 7})
print(set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [291]:
# 예제 2: 알파벳 세트 생성
alphabet_set = {"a", "b", "c"}
alphabet_set.add("d")
print(alphabet_set)

alphabet_set.update({"e", "f", "g"})
print(alphabet_set)

{'c', 'd', 'b', 'a'}
{'e', 'a', 'g', 'c', 'd', 'b', 'f'}

### 3. **.remove(값)**

- 지정한 값을 제거, 그 값이 없으면 error가 발생(KeyError)

In [294]:
# 예제 1
s = {1, 2, 3}
s.remove(2)
print(s)
#s.remove(5) # 없는 값 삭제 에러 발생

{1, 3}

### 4. **.discard(값)**

- 지정한 값을 제거, 그 값이 없어도 조용히 넘어감 (error 발생 X)

In [298]:
# 예제 1
dis = {5, 6, 7}
dis.discard(6)
print(dis)
dis.discard(10)     # 없는 값 삭제 에러 발생 X

{5, 7}

### 5. **.pop()**

- 임의의 요소 하나 제거 + 그 값을 반환
- 순서가 없으므로 어떤 값이 제거 될 지 모름
- 비어 있으면 error 발생 (KeyError)

In [301]:
# 예제 1
set_d = {"b", "l", "u", "e"}

# pop메서드를 사용하여 요소를 랜덤으로 제거
print(set_d)
# pop은 삭제 요소를 반환한다.
print(set_d.pop())

{'l', 'u', 'e', 'b'}
l

### 6. **.clear()**

- 모든 요소 삭제 (세트 초기화)

In [304]:
# 예제 1
set_last = {1, 2, 3, 4}
set_last.clear()
print(set_last)

set()

## 세트의 연산

| 연산 종류 | 기호 또는 메서드           | 의미                         |
| -------- | ----------------------- | ---------------------------- |
| 합집합    | \| 또는 union()          | 모든 요소                     |
| 교집합    | `&` 또는 .intersection() | 공통된 값들만 추출              |
| 차집합    | `-` 또는 .difference()   | 앞 세트에는 있고 뒤에는 없는 값  |

### 1. 세트의 교집합

In [309]:
# 예제 1
set_a = {2, 4, 6}
set_b = {3, 6, 9}

# intersection() 메서드를 사용하여 두 세트의 교집합을 찾는다.
intersection_AandB = set_a.intersection(set_b)
print(intersection_AandB)

# & 연산자를 사용하여 두 세트의 교집합을 찾는다.
intersection_AandB = set_a & set_b
print(intersection_AandB)

{6}
{6}

In [311]:
# 예제 2
set_c = {"apple", "banana", "cherry"}
set_d = {"apple", "banana", "orange"}

# 메서드를 이용하여 교집합
print(set_c.intersection(set_d))

# 연산자를 이용하여 교집합
print(set_c & set_d)

{'banana', 'apple'}
{'banana', 'apple'}

### 2. 세트의 합집합

In [314]:
# 예제 1
setA = {2, 4, 6}
setB = {3, 6, 9}

# union() 메서드를 사용하여 두 세트의 합집합 찾기
union_AandB = setA.union(setB)
print(union_AandB)

# 연산자 사용
union_AandB = setA | setB
print(union_AandB)

{2, 3, 4, 6, 9}
{2, 3, 4, 6, 9}

### 3. 세트의 차집합

In [317]:
# 예제 1
setA = {2, 4, 6}
setB = {3, 6, 9}

# 메서드
diff_AandB = setA.difference(setB)
print(diff_AandB)

# 연산자
diff_AandB = setA - setB
print(diff_AandB)

{2, 4}
{2, 4}

# Python의 컬렉션 자료형 정리

| 종류    | 특징               | 예시          |
| ----- | ---------------- | ----------- |
| list  | 순서 O, 중복 O       | `[1, 2, 3]` |
| tuple | 순서 O, 중복 O, 수정 X | `(1, 2, 3)` |
| set   | 순서 X, 중복 X       | `{1, 2, 3}` |
| dict  | 키-값 쌍, 순서 O      | `{"a": 1}`  |