# 파이썬 컬렉션 자료구조

# 1. 리스트(list)

- 일상 생활에서 사용하는 목록과 비슷한 개념을 가진 자료구조
- 여러 개의 데이터를 하나의 변수에 한 번에 저장하고 관리할 수 있다.
- 하나의 데이터만 담은 변수
    - age = 20
- 여러 개의 데이터를 묶은 리스트를 담은 변수
    - nums = [0, 1, 2, 3] 데이터들을 쉼표로 구분하여 나열한다.
 
```
numbers = [0, 1, 2, 3, 4]       # 숫자 리스트
alphabets = ['a', 'b', 'c']     # 문자 리스트
bools = [True, True, False]     # 논리값 리스트
greetings = ["hi", "hello"]     # 문자열 리스트
```

- 파이썬에서만 가능 (다른 언어에서는 사용 불가)
    - example = [3, 9, "y", 2, "k", True]     # 숫자, 문자, 논리값 혼합하여 담은 리스트

In [21]:
# 예제 1
nums = [6, 1, 3]
print(nums)

[6, 1, 3]

In [23]:
# 예제 2. 인덱스를 사용하여 요소 접근하기
names = ["kim", "lee", "park"]
print(names[0])
print(names[1])
print(names[2])
print(names[-1])
print(names[-2])
print(names[-3])

kim
lee
park
park
lee
kim

In [25]:
# 예제 3
nums = [10, 20, 30, 40, 50]
print(nums[0])
print(nums[2])
print(nums[4])
print(nums[2])

10
30
50
30

## 리스트 슬라이싱
리스트[start : stop : step]

### IndexError
- nums = [1, 2, 3, 4, 5]      # 인덱스는 5까지 있다
- print(nums[7])              # IndexError: list index out of range

In [28]:
# 예제 1
example = [3, 9, "y", 2, "k", True]
print(example[1:4])
print(example[2:])
print(example[0:-1])

[9, 'y', 2]
['y', 2, 'k', True]
[3, 9, 'y', 2, 'k']

## 리스트 결합 : + 연산자

### 리스트 결합

- 리스트에서 자주 사용하는 연산 중 하나는 결합이다.
- 리스트 결합은 여러 개의 리스트를 하나의 리스트로 합쳐 새로운 리스트를 만들 수 있는 연산이다.

### + 연산자

- '+' 연산자 - 두개 이상의 리스트를 직접 연결하여 새로운 리스트를 만든다.
- 기존 리스트를 수정하지 않는다.

In [79]:
# 예제 1
list1 = ["A", "B", "C"]
list2 = ["D", "E"]
list3 = list1 + list2
print(list3)

list3 = list2 + list1
print(list3)

['A', 'B', 'C', 'D', 'E']
['D', 'E', 'A', 'B', 'C']

## 리스트 결합 : extend

### extend()

- 메서드 - 기존 리스트의 끝에 다른 리스트의 모든 요소를 추가한다.
- 기존 리스트를 수정한다.
- 메모리에 효율적이다
- 문법 : 리스트.extend(연결할 리스트)

In [39]:
# 예제 1
list11 = ["A", "B", "C"]
list22 = ["D", "E"]
list11.extend(list22)
print(list11)
print(list22)

['A', 'B', 'C', 'D', 'E']
['D', 'E']

In [41]:
# 예제 2
nums1 = [1, 2, 3]
nums2 = [4, 5]
nums1.extend(nums2)
print(nums1)

[1, 2, 3, 4, 5]

## 리스트 반복

In [44]:
# 예제 1
nums1 = [1, 9, 3, 0]
print(nums1 * 3)

[1, 9, 3, 0, 1, 9, 3, 0, 1, 9, 3, 0]

## 리스트 메서드

### 1. 리스트 추가: **append()**

- 리스트에 요소를 추가하고 싶을 때 간단하게 쓰는 메서드.
- 리스트의 마지막에 새로운 요소를 추가하는 역할.
- 문법 : 리스트변수.append(추가할 값(요소))

In [50]:
# 예제 1
nums4 = [1, 2, 3]
nums4.append(4)
print("추가 후 : ", nums4)

추가 후 :  [1, 2, 3, 4]

In [52]:
# 예제 2
fruits = ["apples", "bananas"]
fruits.append("cherry")
print("추가 후 : ", fruits)

추가 후 :  ['apples', 'bananas', 'cherry']

### 2. 리스트 추가: **insert()**

- 파이썬에서는 리스트의 중간에 요소를 삽입할 수 있는 insert() 메서드를 제공
- 문법 : 리스트변수.insert(위치(인덱스 번호), 추가할 값(요소))

In [56]:
# 예제 1
nums5 = [4, 5, 6]
print("추가 전 : ", nums5)
nums5.insert(1, 8)
print("추가 후 : ", nums5)

추가 전 :  [4, 5, 6]
추가 후 :  [4, 8, 5, 6]

In [62]:
# 예제. append() vs insert()
animals = ["monkey", "dog"]
print("추가 후 :", animals)

animals.append("cat")
animals.append("lion")
print("결과 1 :", animals)

animals.insert(2, "horse")
print("결과 2 :", animals)

animals.insert(4, "cow")
print("결과 3 :", animals)

추가 후 : ['monkey', 'dog']
결과 1 : ['monkey', 'dog', 'cat', 'lion']
결과 2 : ['monkey', 'dog', 'horse', 'cat', 'lion']
결과 3 : ['monkey', 'dog', 'horse', 'cat', 'cow', 'lion']

### 3. 리스트 삭제 : **remove()**

- 특정 값을 가진 요소를 삭제
- 문법 : 리스트변수.remove(요소)

In [84]:
# 예제 1
nums6 = [1, 2, 3, 4, 5]
print("추가 전 : ", nums6)

nums6.remove(2)
print("추가 후 : ", nums6)

추가 전 :  [1, 2, 3, 4, 5]
추가 후 :  [1, 3, 4, 5]

In [86]:
# 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제
print(">> 리스트 삭제 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제")

color = ["black", "yellow", "red", "black"]

# remove는 왼쪽에서 오른쪽 방향으로 순차적으로 검사하여 처음 발견되는 값과 일치하는 요소만 삭제
# 동일한 값을 가진 요소가 여러 개 있더라도 처음 발견된 요소만 삭제한다.
color.remove("black")

# while문 사용하여 remove
while "black" in color :
    color.remove("black")
print(color)

# 오류 : x not in list 리스트에 없는 값
# color.remove("hello")
print(color)

>> 리스트 삭제 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제
['yellow', 'red']
['yellow', 'red']

### 4. 리스트 삭제 : **pop()**

- 특정 위치에 있는 요소를 삭제
- 문법 : 리스트변수.pop(인덱스 번호)

In [89]:
# 예제 1
nums7 = [1, 2, 3, 4, 5]
print("추가 전 : ", nums7)

nums7.pop(4)
print("추가 후 : ", nums7)

추가 전 :  [1, 2, 3, 4, 5]
추가 후 :  [1, 2, 3, 4]

In [72]:
# 예제 2
colors = ["black", "yellow", "red", "black"]
colors.pop(3)
print(colors)

['black', 'yellow', 'red']

In [74]:
# 예제 3
numbers = [10, 20, 30, 40, 50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

### 5. 리스트 길이 확인: **len()**

- 리스트 길이
- 문법 : len(리스트)

In [93]:
# 예제 1
computer_science = ["data structure", "algorithms", "python"]
subject_num = len(computer_science)
print(subject_num)

3

In [95]:
# 예제 2
numbers = [10, 20, 30, 40, 50]

for i in range(len(numbers)) :
    print(numbers[i])

10
20
30
40
50

In [97]:
# 예제 3
fruits = ["apple", "banana", "cherry", "data"]

for i in range(len(fruits)) :
    print(fruits[i])

apple
banana
cherry
data

### 6. 리스트 정렬: **sort()**

- 리스트를 자동으로(오름차순) 정렬하여 다시 저장한다.
- 즉, 원본 리스트가 변경된다.
- 문법 : 리스트.sort()

### 7. 리스트 정렬: sort(reverse = True)

- 리스트를 자동으로(내림차순) 정렬하여 다시 저장한다.
- 문법 : 리스트.sort(reverse = True)

In [111]:
# 예제 1
list_num = [2, 7, 3, 5]
list_num.sort()
print(list_num)

list_num.sort(reverse=True)
print(list_num)

[2, 3, 5, 7]
[7, 5, 3, 2]

In [113]:
# 예제 2
names = ["Tom", "Jerry", "Alice", "Bob"]
names.sort()
print(names)

names.sort(reverse=True)
print(names)

['Alice', 'Bob', 'Jerry', 'Tom']
['Tom', 'Jerry', 'Bob', 'Alice']

### 8. 리스트 정렬: **sorted()**

- 새롭게 정렬된 리스트를 반환한다.
- sort() 메서드와 달리 원본 리스트는 변경되지 않는다.

In [117]:
# 예제 1
numbers2 = [5, 2, 3, 4, 1]
sorted_numbers = sorted(numbers2)
print(numbers2)     # 원본 바뀌지 않음
print(sorted_numbers)

[5, 2, 3, 4, 1]
[1, 2, 3, 4, 5]

### 9. 리스트 반전: **reverse()**

- 리스트의 맨 앞 요소가 맨 뒤로, 맨 뒤 요소가 맨 앞으로 이동한다.
- 리스트 원본이 변경된다.
- 문법 : 리스트.reverse()

In [121]:
# 예제 1
list_num2 = [2, 7, 3, 5]
list_num2.reverse()
print(list_num2)

[5, 3, 7, 2]

### 10. **in**

- 리스트 내부에 요소가 있는지 확인하는 키워드
- 파이썬에서 in 키워드는 리스트에 특정 값이 존재하는지 확인하는데 사용
- 문법: 특정값 in 리스트

### 11. **not in**

- 리스트 내부에 요소가 없는지 확인하는 키워드
- 존재하지 않는 지 확인하는 데 사용

In [125]:
# 예제 1
list_n = [1, 2, 3, 4, 5, 6, 7]
print(3 in list_n)      # 리스트에 존재하기 때문에 True
print(10 in list_n)     # 리스트에 없기 때문에 False
print(5 not in list_n)  # 리스트에 있기 때문에 False

True
False
False

### 12. **join()**

- 리스트 요소를 문자열로 만들기
- 리스트의 요소들을 하나하나 엮어서 새로운 문자열을 만들기 위해 파이썬은 join() 메소드 제공
- 문법 : 요소 사이에 들어갈 문자.join(리스트)

In [129]:
# 예제 1
list_abc = ["a", "b", "c"]
result = "-".join(list_abc)
print(result)

result2 = "*".join(list_abc)
print(result2)

a-b-c
a*b*c

### 리스트 종합 문제

In [136]:
# 종합 1. for문을 사용하여 리스트 출력하기
animals = ["dog", "cat", "tiger", "lion"]
for i in range(len(animals)) :
    print(i)

0
1
2
3

In [134]:
# 종합 2. 리스트 오름차순 정렬
numbers3 = [15, 3, 9, 1, 7]
numbers3.sort()
print(numbers3)

[1, 3, 7, 9, 15]

In [138]:
# 종합 3. 리스트 내림차순 정렬
score = [88, 92, 75, 63, 99]
score.sort(reverse=True)
print(score)

[99, 92, 88, 75, 63]

In [140]:
# 종합 4. 원본 리스트와 새 리스트 모두 출력하기
value = [10, 5, 8, 2, 6]
sorted_value = sorted(value)
print("원본 리스트 :", sorted_value)
print("정렬된 리스트 :", sorted)

원본 리스트 : [2, 5, 6, 8, 10]
정렬된 리스트 : <built-in function sorted>

In [142]:
# 종합 5. 리스트 반전시키기
colors = ["red", "green", "blue"]
colors.reverse()
print(colors)

['blue', 'green', 'red']

# 2. 딕셔너리(Dictionary)

- 키(key)와 값(value)의 쌍으로 이루어진 자료형으로 정보를 효율적으로 관리하는데 유용하다.
- key : 데이터를 식별하는 고유한 값. key는 중복될 수 없다. 만약, 같은 key가 여러 번 쓰이면, 마지막에 입력된 값으로 덮어쓰기 된다.
- value : key에 대응되는 데이터 값. value는 중복 가능하다.
- 상품 정보처럼 여러가지 정보를 한꺼번에 저장하고 관리하는데 유용하다.
- 딕셔너리에 포함된 항목들을 하나의 쌍 또는 페어(pair)라고 한다.

```
# 키(key) - 값(value)
# apple  -   사과

dic = {
    key1: value1
    key2: value2
}

person = {
    "name" : "kim",
    "age" : 30,
    "phone: " "01024562345"
}
```

In [154]:
# 딕셔너리 (Dictionary)
dic = {
    "a" : "abc",
    "b" : 3,
    4 : [1, 2, 3],
}
print(dic)

{'a': 'abc', 'b': 3, 4: [1, 2, 3]}

In [156]:
# 딕셔너리에 저장된 데이터를 한쌍씩 출력하고 싶으면 : 변수명[key값]
print(dic["a"])
print(dic[4])

abc
[1, 2, 3]

In [160]:
# 예제 1
fruits = {
    "apple" : 3,
    "banana" : 5,
    "orange" : 2
}
print(fruits)

{'apple': 3, 'banana': 5, 'orange': 2}

In [162]:
# 예제 2
person = {
    "name" : "kim",
    "age" : 30,
    "phone" : "010-1234-5667",
    "subject" : ["python", "java"]
}
print("1. 딕셔너리 전체 출력 :", person)
print("2. kim 출력 :", person["name"])
print("3. subject 출력 :", person["subject"])
# print(person["face"])     # KeyError: "face" -> key 값이 없을 때 나타나는 에러

1. 딕셔너리 전체 출력 : {'name': 'kim', 'age': 30, 'phone': '010-1234-5667', 'subject': ['python', 'java']}
2. kim 출력 : kim
3. subject 출력 : ['python', 'java']

## 딕셔너리(Dictionary) 연산

: 연산을 지원하며, 이를 통해 딕셔너리를 자유롭게 조작하고 데이터를 활용할 수 있다.

## 1. dic = {}

- 장 기본적인 딕셔너리 연산은 빈 딕셔너리를 생성하는 것
- 빈 딕셔너리는 아직 어떤 데이터도 저장하지 않은 상태

### 2. key-value 쌍 추가

- 문법 : 딕셔너리 변수명[새로운 key값] = 새로운 value값

In [167]:
# 예제 1
dic_color = {
    "red" : "apple",
    "yellow" : "banana",
    "purple" : "grape"
}
print(dic_color)

# dic_color["Orange"] = "orange"
dic_color["red"] = "orange"
print(dic_color)

{'red': 'apple', 'yellow': 'banana', 'purple': 'grape'}
{'red': 'orange', 'yellow': 'banana', 'purple': 'grape'}

In [169]:
# 예제 2
dic_animal = {
    "dog" : "멍멍",
    "cat" : "야옹",
    "cow" : "음메"
}
print(dic_animal)

dic_animal["bird"] = "짹짹"
print(dic_animal)

dic_animal["cat"] = "냐옹"
print(dic_animal)

{'dog': '멍멍', 'cat': '야옹', 'cow': '음메'}
{'dog': '멍멍', 'cat': '야옹', 'cow': '음메', 'bird': '짹짹'}
{'dog': '멍멍', 'cat': '냐옹', 'cow': '음메', 'bird': '짹짹'}

### 3. key-value 쌍 삭제 : del

- 문법 : del 딕셔너리 변수명[삭제하고 싶은 key값]

In [177]:
# 예제 1
sports_star = {
    "축구" : "손흥민",
    "야구" : "이정후",
    "피겨스케이팅" : "김연아",
    "수영" : "박태환",
}
print(sports_star)

del sports_star["야구"]
print(sports_star)

{'축구': '손흥민', '야구': '이정후', '피겨스케이팅': '김연아', '수영': '박태환'}
{'축구': '손흥민', '피겨스케이팅': '김연아', '수영': '박태환'}

### 4. key-value 쌍 삭제: pop

- pop은 삭제하면서 값을 반환해준다. 그래서 나중에 그 값을 활용할 수 있다.
- 문법 : value = 딕셔너리 변수명.pop(삭제하고 싶은 key값)

In [180]:
# 예제 1
dic2 = {
    1 : "java",
    2 : "python",
    3 : "C++"
}
print(dic2)

value = dic2.pop(1)
print("삭제된 값 :", value)
print("삭제 후 딕셔너리 :", dic2)

{1: 'java', 2: 'python', 3: 'C++'}
삭제된 값 : java
삭제 후 딕셔너리 : {2: 'python', 3: 'C++'}

### 5. 딕셔너리 전체 삭제: clear

- 문법 : 딕셔너리 변수명.clear()

In [183]:
# 예제 1
dic2.clear()
print(dic2)

{}

## 딕셔너리 메서드(기능)

### 1. **.get(key)**

- 해당 key의 값을 가져옴 (key가 없으면 None 반환)

In [187]:
# 예제 1
person = {
    "name" : "Tom",
    "age" : 12
}
print(person.get("name"))
print(person.get("height"))     # None (오류가 아님)

Tom
None

In [189]:
# 예제 2
fruit_color = {
    "apple" : "red",
    "banana" : "yellow",
    "grape" : "purple"
}
print(fruit_color.get("banana"))
print(fruit_color.get("grapefruit"))

yellow
None

### 2. **.keys()**

- 딕셔너리의 모든 key 값을 반환

In [193]:
# 예제 1
fruit_color2 = {
    "red" : "apple",
    "yellow" : "banana",
    "purple" : "blueberry"
}
print("1. keys() 출력 : ", fruit_color2.keys())
# fruit_color2.keys().append("test")      # append는 리스트에서만 사용할 수 있다.

1. keys() 출력 :  dict_keys(['red', 'yellow', 'purple'])

In [195]:
# 예제 2. for문 + keys() 결합
print("2. for문 + keys() 결합")
for i in fruit_color2.keys() :
    print(i)

2. for문 + keys() 결합
red
yellow
purple

In [197]:
# 예제 3
job_dic = {
    "teacher" : "school",
    "doctor" : "hospital",
    "chef" : "restaurant"
}
print("직업 목록 :", job_dic)

for i in job_dic.keys() :
    print(i)

직업 목록 : {'teacher': 'school', 'doctor': 'hospital', 'chef': 'restaurant'}
teacher
doctor
chef

#### 딕셔너리의 키 값들을 리스트로 변환하기

- 문법 : list(딕셔너리.keys())

In [201]:
# 예제 1
fruit_colors = {
    "red" : "apple",
    "yellow" : "banana",
    "purple" : "blueberry",
}
print("1. keys()")
print(fruit_colors.keys())
print()

print("2. 리스트로 변환하기 : list() + keys()의 결합")
# keys() 메서드를 호출하여 반환된 객체를 list 메서드에 인자로 전달
color_list = list(fruit_colors.keys())
print(color_list)
color_list.append("blue")
print(list(color_list))

1. keys()
dict_keys(['red', 'yellow', 'purple'])

2. 리스트로 변환하기 : list() + keys()의 결합
['red', 'yellow', 'purple']
['red', 'yellow', 'purple', 'blue']

In [203]:
# 예제 2
animal_sounds = {
    "dog" : 1,
    "cat" : 2,
    "cow" : 3
}
animal_list = list(animal_sounds.keys())
print(animal_list)

animal_list.pop(1)
print(animal_list)

animal_list.remove("dog")
print(animal_list)

['dog', 'cat', 'cow']
['dog', 'cow']
['cow']

In [205]:
# 예제 3
t_sound = {
    "car" : 10,
    "train" : 20,
    "bike" : 30
}

t_list = list(t_sound.keys())
print("1. 리스트 변환 :",t_list)

t_list.append("airplane")
print("2. 값 추가 후 : ", t_list)

t_list.remove("bike")
print("3. 값 삭제 후 :", t_list)

1. 리스트 변환 : ['car', 'train', 'bike']
2. 값 추가 후 :  ['car', 'train', 'bike', 'airplane']
3. 값 삭제 후 : ['car', 'train', 'airplane']

### 3. **.values()**

- 딕셔너리의 모든 value 값을 반환

#### 딕셔너리의 Value 값들을 리스트로 변환하기

- 문법 : list(딕셔너리.values())

In [210]:
# 예제 1
abc_div = {
    "a" : "alphabet",
    "b" : "best",
    "c" : "cheer"
}

print("1. values() 출력")
print(abc_div.values())
print()

print("2. for문과 values()의 결합")
for i in abc_div.values() :
    print(i)
print()

print("3. list()와 values()의 결합")
abc_list = list(abc_div.values())
abc_list.remove("alphabet")
print(abc_list)

1. values() 출력
dict_values(['alphabet', 'best', 'cheer'])

2. for문과 values()의 결합
alphabet
best
cheer

3. list()와 values()의 결합
['best', 'cheer']

### 4. **.pop(key)**

- key에 해당하는 항목을 삭제하고, 그 value를 반환

In [213]:
# 예제 1
person = {
    "name" : "Tom",
    "age" : 12
}
age = person.pop("age")
print(age)
print(person)

12
{'name': 'Tom'}

### 5. **.update()**

- 다른 딕셔너리를 추가하거나 기존 값을 수정

In [216]:
# 예제 1
person.update({"age" : 12})
person.update({"height" : 12})
print(person)

{'name': 'Tom', 'age': 12, 'height': 12}