# 파이썬 컬렉션 자료구조

# 1. 리스트(list)

- 일상 생활에서 사용하는 목록과 비슷한 개념을 가진 자료구조
- 여러 개의 데이터를 하나의 변수에 한 번에 저장하고 관리할 수 있다.
- 하나의 데이터만 담은 변수
    - age = 20
- 여러 개의 데이터를 묶은 리스트를 담은 변수
    - nums = [0, 1, 2, 3] 데이터들을 쉼표로 구분하여 나열한다.
 
```
numbers = [0, 1, 2, 3, 4]       # 숫자 리스트
alphabets = ['a', 'b', 'c']     # 문자 리스트
bools = [True, True, False]     # 논리값 리스트
greetings = ["hi", "hello"]     # 문자열 리스트
```

- 파이썬에서만 가능 (다른 언어에서는 사용 불가)
    - example = [3, 9, "y", 2, "k", True]     # 숫자, 문자, 논리값 혼합하여 담은 리스트

In [21]:
# 예제 1
nums = [6, 1, 3]
print(nums)

[6, 1, 3]

In [23]:
# 예제 2. 인덱스를 사용하여 요소 접근하기
names = ["kim", "lee", "park"]
print(names[0])
print(names[1])
print(names[2])
print(names[-1])
print(names[-2])
print(names[-3])

kim
lee
park
park
lee
kim

In [25]:
# 예제 3
nums = [10, 20, 30, 40, 50]
print(nums[0])
print(nums[2])
print(nums[4])
print(nums[2])

10
30
50
30

## 리스트 슬라이싱
리스트[start : stop : step]

### IndexError
- nums = [1, 2, 3, 4, 5]      # 인덱스는 5까지 있다
- print(nums[7])              # IndexError: list index out of range

In [28]:
# 예제 1
example = [3, 9, "y", 2, "k", True]
print(example[1:4])
print(example[2:])
print(example[0:-1])

[9, 'y', 2]
['y', 2, 'k', True]
[3, 9, 'y', 2, 'k']

## 리스트 결합 : + 연산자

### 리스트 결합

- 리스트에서 자주 사용하는 연산 중 하나는 결합이다.
- 리스트 결합은 여러 개의 리스트를 하나의 리스트로 합쳐 새로운 리스트를 만들 수 있는 연산이다.

### + 연산자

- '+' 연산자 - 두개 이상의 리스트를 직접 연결하여 새로운 리스트를 만든다.
- 기존 리스트를 수정하지 않는다.

In [79]:
# 예제 1
list1 = ["A", "B", "C"]
list2 = ["D", "E"]
list3 = list1 + list2
print(list3)

list3 = list2 + list1
print(list3)

['A', 'B', 'C', 'D', 'E']
['D', 'E', 'A', 'B', 'C']

## 리스트 결합 : extend

### extend()

- 메서드 - 기존 리스트의 끝에 다른 리스트의 모든 요소를 추가한다.
- 기존 리스트를 수정한다.
- 메모리에 효율적이다
- 문법 : 리스트.extend(연결할 리스트)

In [39]:
# 예제 1
list11 = ["A", "B", "C"]
list22 = ["D", "E"]
list11.extend(list22)
print(list11)
print(list22)

['A', 'B', 'C', 'D', 'E']
['D', 'E']

In [41]:
# 예제 2
nums1 = [1, 2, 3]
nums2 = [4, 5]
nums1.extend(nums2)
print(nums1)

[1, 2, 3, 4, 5]

## 리스트 반복

In [44]:
# 예제 1
nums1 = [1, 9, 3, 0]
print(nums1 * 3)

[1, 9, 3, 0, 1, 9, 3, 0, 1, 9, 3, 0]

## 리스트 메서드

### 1. 리스트 추가: **append()**

- 리스트에 요소를 추가하고 싶을 때 간단하게 쓰는 메서드.
- 리스트의 마지막에 새로운 요소를 추가하는 역할.
- 문법 : 리스트변수.append(추가할 값(요소))

In [50]:
# 예제 1
nums4 = [1, 2, 3]
nums4.append(4)
print("추가 후 : ", nums4)

추가 후 :  [1, 2, 3, 4]

In [52]:
# 예제 2
fruits = ["apples", "bananas"]
fruits.append("cherry")
print("추가 후 : ", fruits)

추가 후 :  ['apples', 'bananas', 'cherry']

### 2. 리스트 추가: **insert()**

- 파이썬에서는 리스트의 중간에 요소를 삽입할 수 있는 insert() 메서드를 제공
- 문법 : 리스트변수.insert(위치(인덱스 번호), 추가할 값(요소))

In [56]:
# 예제 1
nums5 = [4, 5, 6]
print("추가 전 : ", nums5)
nums5.insert(1, 8)
print("추가 후 : ", nums5)

추가 전 :  [4, 5, 6]
추가 후 :  [4, 8, 5, 6]

In [62]:
# 예제. append() vs insert()
animals = ["monkey", "dog"]
print("추가 후 :", animals)

animals.append("cat")
animals.append("lion")
print("결과 1 :", animals)

animals.insert(2, "horse")
print("결과 2 :", animals)

animals.insert(4, "cow")
print("결과 3 :", animals)

추가 후 : ['monkey', 'dog']
결과 1 : ['monkey', 'dog', 'cat', 'lion']
결과 2 : ['monkey', 'dog', 'horse', 'cat', 'lion']
결과 3 : ['monkey', 'dog', 'horse', 'cat', 'cow', 'lion']

### 3. 리스트 삭제 : **remove()**

- 특정 값을 가진 요소를 삭제
- 문법 : 리스트변수.remove(요소)

In [84]:
# 예제 1
nums6 = [1, 2, 3, 4, 5]
print("추가 전 : ", nums6)

nums6.remove(2)
print("추가 후 : ", nums6)

추가 전 :  [1, 2, 3, 4, 5]
추가 후 :  [1, 3, 4, 5]

In [86]:
# 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제
print(">> 리스트 삭제 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제")

color = ["black", "yellow", "red", "black"]

# remove는 왼쪽에서 오른쪽 방향으로 순차적으로 검사하여 처음 발견되는 값과 일치하는 요소만 삭제
# 동일한 값을 가진 요소가 여러 개 있더라도 처음 발견된 요소만 삭제한다.
color.remove("black")

# while문 사용하여 remove
while "black" in color :
    color.remove("black")
print(color)

# 오류 : x not in list 리스트에 없는 값
# color.remove("hello")
print(color)

>> 리스트 삭제 예제 2: 여러 개의 요소가 있을 때 remove() 메서드 사용 예제
['yellow', 'red']
['yellow', 'red']

### 4. 리스트 삭제 : **pop()**

- 특정 위치에 있는 요소를 삭제
- 문법 : 리스트변수.pop(인덱스 번호)

In [89]:
# 예제 1
nums7 = [1, 2, 3, 4, 5]
print("추가 전 : ", nums7)

nums7.pop(4)
print("추가 후 : ", nums7)

추가 전 :  [1, 2, 3, 4, 5]
추가 후 :  [1, 2, 3, 4]

In [72]:
# 예제 2
colors = ["black", "yellow", "red", "black"]
colors.pop(3)
print(colors)

['black', 'yellow', 'red']

In [74]:
# 예제 3
numbers = [10, 20, 30, 40, 50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

### 5. 리스트 길이 확인: **len()**

- 리스트 길이
- 문법 : len(리스트)

In [93]:
# 예제 1
computer_science = ["data structure", "algorithms", "python"]
subject_num = len(computer_science)
print(subject_num)

3